@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>eCommerceShop</h1>
    <p class="lead">Are you ready to do some shopping?</p>
    <p><a href="~/User/Login" class="btn btn-primary btn-lg">Let`s start &raquo;</a></p>
</div>
